body {
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

.headerfont {
    font: roboto;
    font-weight: bold;
}

.headlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.head-container {
    margin-top: 30px;
    padding-right: 400px;
    padding-left: 400px;
    display: flex;
    justify-content: space-between;
    
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}


  

.first-block {
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.main-text {
    width: 400px;
    height: 300px;
    flex-direction: column;
    align-content: center;
    border: 10px; 
    border-color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}




.head-links {
    display: flex;
    flex-direction: row;
    color: #E5E7Eb;
    font-size: 18px;
    gap: 32px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00307c;
    transition: background-color;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    height: 40px;
    border: #00307c;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.button:hover {
    background-color: #3882F6;
    transition: 0.2s;
}

.picture {
    height: 300px;
    width: auto;
}

.picto {
    height: 200px;
    width: auto;
    border: #00307c;
    border-radius: 20px;
}

.picto-text {
    display: flex;
    justify-content: center;
    width: 200px;
}

.second-block {
    margin-top: 30px;
    padding-right: 400px;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    padding-bottom: 50px;
}

.second-text {
    display: flex;
    justify-content: center;
    flex-grow: 1;
} 

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.information {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.third-block {
    background-color: #E5E7EB;
}

.forth-block {
    background-color: white;
}